.input {
    background: #ffffff;
    border-radius: .75rem;
    border: 1px solid rgb(229 231 235);
    color: #4a5568;
    display: block;
    outline: none;
    padding: 16px 12px;
    width: 100%;
    /* font-family: Nunito Sans, sans-serif; */
    /* font-size:2rem; */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.input:placeholder-shown {
    border: 1px solid #d3dce6;
}

.input:hover {
    border: 1px solid rgb(209 213 219);
}

.input:focus {
    border: 1px solid #00becf;
}

#card-field-placeholder,
#card-field,
#card-number,
#card-expiry,
#card-cvc {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d3dce6;
    color: #4a5568;
    display: block;
    margin-top: 5px;
    outline: none;
    padding: 7px 12px;
    width: 360px;
}

#card_number_three_fields {
    margin-top: 5px;
    padding: 7px 12px;
    width: 470px;
}