@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "JK Grotesk";
    font-weight: 300;
    src: url("/fonts/HKGrotesk/HKGrotesk-Light.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 300;
    font-style: italic;
    src: url("/fonts/HKGrotesk/HKGrotesk-LightItalic.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 400;
    src: url("/fonts/HKGrotesk/HKGrotesk-Regular.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/HKGrotesk/HKGrotesk-Italic.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 500;
    src: url("/fonts/HKGrotesk/HKGrotesk-Medium.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/HKGrotesk/HKGrotesk-MediumItalic.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 600;
    src: url("/fonts/HKGrotesk/HKGrotesk-SemiBold.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/HKGrotesk/HKGrotesk-SemiBoldItalic.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 700;
    src: url("/fonts/HKGrotesk/HKGrotesk-Bold.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/HKGrotesk/HKGrotesk-boldItalic.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 800;
    src: url("/fonts/HKGrotesk/HKGrotesk-extrabold.otf");
  }

  @font-face {
    font-family: "JK Grotesk";
    font-weight: 900;
    src: url("/fonts/HKGrotesk/HKGrotesk-black.otf");
  }
}

@supports (position: sticky) {
  @media (min-width: config('screens.lg')) {
    .sticky\?lg\:h-\(screen-16\) {
      height: ~"calc(100vh - 4rem)";
    }
  }
}